.language-container {
  display: flex;
  align-items: center;
}

.language-option {
  background-color: transparent;
  color: white;
  border: 2px solid #7db9c1;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.5s;
}

.language-option.selected {
  background-color: #ec9833;
  color: white;
}

.language-option:hover {
  background-color: #ffffff;
}

.language-option:focus {
  outline: none;
}
