<app-nav-bar></app-nav-bar>
<h2>Clients</h2>
<hr />

<div class="client-list">
  <mat-card *ngFor="let client of clients" class="client-card">
    <strong>{{ client.first_name }} {{ client.last_name }}</strong><br>
    <p>Company: {{ client.company }}</p>
    <p *ngIf="client.phone">Phone: {{ client.phone }}</p>
    <p *ngIf="client.email">Email: {{ client.email }}</p>
    <p *ngIf="client.dni">DNI: {{ client.dni }}</p>
    <p *ngIf="client.status">Status: {{ client.status }}</p>
    <p *ngIf="client.registration_date">Registered: {{ client.registration_date | date:'short' }}</p>
    <p *ngIf="client.created_at">Created: {{ client.created_at | date:'short' }}</p>
    <button [routerLink]="['/detalles', client.id]">Ver más</button>
  </mat-card>
</div>

<h3><strong>Añadir información del Cliente</strong></h3>

<form (ngSubmit)="addClient()" #clientForm="ngForm">
  <label>
    Nombre y apellido del cliente *
    <input type="text" [(ngModel)]="newclient.first_name" name="first_name" required />
  </label>

  <label>
    Compañía del Cliente *
    <input type="text" [(ngModel)]="newclient.company" name="company" required />
  </label>

  <label>
    Teléfono
    <input type="tel" [(ngModel)]="newclient.phone" name="phone" />
  </label>

  <label>
    Email
    <input type="email" [(ngModel)]="newclient.email" name="email" />
  </label>

  <label>
    DNI
    <input type="text" [(ngModel)]="newclient.dni" name="dni" />
  </label>


  <button class="subm" type="submit" [disabled]="!clientForm.valid">Añadir</button>
</form>
