<mat-toolbar>
  <div class="start">
    <img class="logo" src="https://avatars.githubusercontent.com/u/208889289?s=48&v=4">
    <span><strong>St0ckHunters</strong></span>
    <span class="example-spacer"></span>
  </div>
  <div class="mid">
    <span class="options">
      <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
        <a href="/"><strong>Sign up</strong></a>
      </button>
      <div class="login">
      <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
        <a href="/"><strong>Login</strong></a>
      </button>
        </div>
    </span>
  </div>
  <div class="end">
    <app-language-button></app-language-button>


  </div>
</mat-toolbar>




