.tittle {
  text-align: center;
  color: var(--color-white);
}

/*check after the size of the image*/
.imgProfile {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: relative;
  border: 3px solid var(--color-gray-200);
  border-radius: 100px;
  background-color: var(--color-gray-100);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
  gap: 50px;
  margin: 70px auto;
  justify-content: center;
  max-width: 1200px; /* Opcional: limita el ancho total */
  padding: 0 20px; /* Espaciado lateral */
}
