.tittle {
  text-align: center;
  color: var(--color-white);
}

/*check after the size of the image*/
.imgProfile {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: relative;
  border: 3px solid var(--color-gray-200);
  border-radius: 100px;
  background-color: var(--color-gray-100);
}
h2{
  font-size:  30px;
  margin-top: 80px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  /*margin: 70px auto;*/
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 1200px;
  padding: 0 20px;
}
