
<app-header></app-header>

<div class="union">
<div class="login-container">
  <h2>{{ 'SignupView.Register' | translate }}</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">

    <!-- Nombre -->
    <div class="form-group">
      <label for="name">{{ 'SignupView.name' | translate }}</label>
      <div class="input-with-icon">
        <input type="text" id="name" formControlName="name" />
        <img src="https://cdn-icons-png.flaticon.com/128/1828/1828413.png" alt="user" width="20px" />
      </div>
      <div *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched" class="error">
        El nombre es obligatorio
      </div>
    </div>

    <!-- Apellido -->
    <div class="form-group">
      <label for="lastName">{{ 'SignupView.last name' | translate }}</label>
      <div class="input-with-icon">
        <input type="text" id="lastName" formControlName="lastName" />
        <img src="https://cdn-icons-png.flaticon.com/128/1828/1828413.png" alt="user" width="20px" />
      </div>
      <div *ngIf="registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched" class="error">
        El apellido es obligatorio
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">{{ 'SignupView.Email Address' | translate }}</label>
      <div class="input-with-icon">
        <input type="email" id="email" formControlName="email" />
        <img src="https://cdn-icons-png.flaticon.com/128/11195/11195330.png" alt="mail" width="20px" />
      </div>
      <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="error">
        El correo es obligatorio
      </div>
      <div *ngIf="registerForm.get('email')?.hasError('email') && !registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="error">
        Correo inválido
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <label for="password">{{ 'SignupView.Password' | translate }}</label>
      <div class="input-with-icon">
        <input type="password" id="password" formControlName="password" />
        <img src="https://cdn-icons-png.flaticon.com/128/4837/4837031.png" alt="lock" width="20px" />
      </div>
      <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="error">
        Contraseña requerida
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">{{ 'SignupView.Register' | translate }}</button>
  </form>
</div>
<img class="imgMain" src="assets/login.svg" width="400" alt="Login SVG">
</div>
