.logo{
  border-radius: 20px;
  margin-left: 10px;
}

mat-toolbar{
  width: 100%;
  background-color: #1a73e8;
  font-family: "Roboto", sans-serif;
}

.start{
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 10px;
  color: white;
}

.options{
  display: flex;
  margin-left: auto;
  margin-right: 1px;
  gap: 30px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

button{
  background-color: #1a73e8;
  border-radius: 20px;
  border: none;
  width: 80px;
}

.mid{
  margin-left: auto;
  margin-right: auto;
}

.end{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-right: 10px;
  gap: 10px;
}

a{
  display: flex;
  color: white;
  border-radius: 15px;
  padding: 5px 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.login{
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #1a73e8;
}

.options a:hover {
  color: #19465e;
}

.options button:hover {
  background-color: #81b8fb;
}

app-theme-button{
  margin-right: 20px;
}
