.usuario{
  border-radius: 20px;
}
.mat-toolbar{
  background-color:  var(--primary-color);
  font-family: Roboto, sans-serif;
}
.mat-button{
  background-color: transparent !important;
  border:none;
  width: 80px;
}
.end{
  color:  white;
}
