
<app-nav-bar></app-nav-bar>
<div class="header1"> {{'Planner-view.Hello'|translate}}</div>
<div>

  <mat-card>
    <mat-card-header>
      <header class="header1">
        {{'Planner-view.Basic'|translate}}
      </header>

    </mat-card-header>



    <mat-card-footer>

    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <header class="header1">
        {{'Planner-view.Basic'|translate}}
      </header>

    </mat-card-header>



    <mat-card-footer>

    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <header class="header1">
        {{'Planner-view.Basic'|translate}}
      </header>

    </mat-card-header>



    <mat-card-footer>

    </mat-card-footer>
  </mat-card>

</div>

